{%- from "kubernetes/map.jinja" import pool with context -%}
{%- from "kubernetes/map.jinja" import master with context -%}
{%- from "kubernetes/map.jinja" import version %}

[Unit]
Description=CRI Proxy
After=dockershim.service
Requires=dockershim.service

[Service]
SyslogIdentifier=criproxy
User=root
ExecStart=/usr/bin/criproxy -alsologtostderr \
          -connect /var/run/dockershim.sock,virtlet.cloud:/run/virtlet.sock \
          -listen /var/run/criproxy.sock \
          -v 3 \
          -alsologtostderr \
          -apiVersion {{ version }} \
{%- if pool.get('enabled', False) %}
          -streamUrl http://{{ pool.kubelet.address }}:11250
{%- else %}
{%- if master.get('enabled', False) %}
           -streamUrl http://{{ master.kubelet.address }}:11250
{% endif %}
{% endif %}
Restart=on-failure

[Install]
WantedBy=kubelet.service
