[Unit]
Description=CRI Proxy
After=dockershim.service
Requires=dockershim.service

[Service]
SyslogIdentifier=criproxy
User=root
ExecStart=/usr/bin/criproxy -alsologtostderr \
          -connect /var/run/dockershim.sock,virtlet:/var/run/virtlet.sock \
          -listen /var/run/criproxy.sock
Restart=on-failure

[Install]
WantedBy=kubelet.service
