[Unit]
Description=dockershim for criproxy
Documentation=https://github.com/kubernetes/kubernetes/tree/master/pkg/kubelet/dockershim
After=network.target
After=docker.service
Requires=docker.service

[Service]
SyslogIdentifier=dockershim
EnvironmentFile=-/etc/kubernetes/config
EnvironmentFile=-/etc/default/%p
User=root
ExecStart=/usr/bin/hyperkube \
    kubelet \
    $KUBE_LOGTOSTDERR \
    $KUBE_LOG_LEVEL \
    $KUBE_ALLOW_PRIV \
        $KUBELET_ADDRESS \
        $KUBELET_PORT \
        $KUBELET_HOSTNAME \
        $KUBELET_API_SERVER \
        $DOCKER_ENDPOINT \
        $CADVISOR_PORT \
        $DAEMON_ARGS
Restart=on-failure

[Install]
WantedBy=kubelet.service
RequiredBy=criproxy.service